@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-image: url('image/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

#mainheader {
    background-color: #111F4D;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 1000; /* Ensure the header appears above other content */
}

#mainheader img {
    width: 180px;
    position: relative;
    height: 150px; /* Adjust the height as needed */
    margin-left: 35px; /* Adjust the margin as needed */
    margin-right: 20px; /* Adjust the margin as needed */
    margin-top: -10px;
}

#mainheader a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin-left: 70px;
}

#mainheader .buttons {
    margin-left: 10em;
}


/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #111F4D;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
}


/* Dropdown Content */
.dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #E43A19;
    z-index: 1;
    border-radius: 10px;
    left: 22.5%;
    top: 100%;
    min-width: 100px;
}

/* Links inside the dropdown */
.dropdown-content li {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    white-space: nowrap;
    margin-left: -20%;
}

/* Change color of dropdown links on hover */
.dropdown-content li a:hover {
    background-color: black;
    border-radius: 5px;
    
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
} 

/*book appointment button */

.book-appointment-btn {
    background-color: #E43A19;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    position: absolute;
    bottom: -53.5%; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}

.book-appointment-btn:hover {
    background-color: black;
}

/*BARBERS */

.barbers-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    
}

.text {
    margin-top: 78.5%; /* Add space between h1 and images */
    margin-left: 5.5em;/* Center align the text */
    color: black;
    font-size: 28px;
}

.barbers{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}


.barbers img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 5.5%;

}

.days h1{
    margin-left: 20px;
    margin-top: 50px;
    font-weight: 300;
    font-size: 16px;
}



.days {
    display: flex;
    flex-direction: column;
}

.day {
    display: flex;
    align-items: center;
    gap: 10em; /* Adjust the gap between icons and text */
}

.day i {
    margin-top: 28px;
}

/*icon color */
#check{
    color: #4BD37B;
    font-size: 50px;

}

#xmark{
    color: #FF473E;
    font-size: 50px;
}




/* FOOTER  */






/* Media queries */
@media screen and (max-width: 600px) {
    #mainheader {
        flex-direction: column;
        padding: 10px;
    }

    #mainheader img {
        width: 40%; /* Make the logo full width */
        margin-bottom: 10px; /* Add space between logo and links */
    }

    #mainheader a {
        margin: 0; /* Remove the margin */
        text-align: center; /* Center align the links */
    }

    .dropdown-content {
        position: static;
        display: none;
        background-color: #E43A19;
        min-width: unset;
        margin: 0; /* Remove the margin */
    }

    .dropdown-content li {
        text-align: center; /* Center align the dropdown links */
    }
}
