@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(to right, rgba(0,0,0,0.8500000238418579), rgba(141, 141, 141, 0.4)), url('image/aboutuscover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;;
    height: 1000px;
    
}

#mainheader {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 1000; /* Ensure the header appears above other content */
}

#mainheader img {
    width: 180px;
    position: relative;
    height: 150px; /* Adjust the height as needed */
    margin-left: 35px; /* Adjust the margin as needed */
    margin-right: 20px; /* Adjust the margin as needed */
    margin-top: -10px;
}

#mainheader a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-left: 70px;
}

#mainheader .buttons {
    margin-left: 10em;
}


/* Dropdown Button */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #F8F8F8;
    color: white;
    font-size: 18px;
    border: none;
    cursor: pointer;
    padding: 10px 15px;
    text-decoration: none;
}


/* Dropdown Content */
.dropdown-content {
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #E43A19;
    z-index: 1;
    border-radius: 10px;
    left: 22.5%;
    top: 100%;
    min-width: 100px;
}

/* Links inside the dropdown */
.dropdown-content li {
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    white-space: nowrap;
    margin-left: -20%;
}

/* Change color of dropdown links on hover */
.dropdown-content li a:hover {
    background-color: black;
    border-radius: 5px;
    
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
} 


#body-container .logo-body{
    margin-top: 125px;
}

#body-container p{
    color: white;
    font-size: 20px;
    margin-top: -120px;
    margin-left: 4.5em;
    text-align: justify;
    position: absolute;
    width: 600px;
}

/*book appointment button */
.book-appointment-btn {
    background-color: #E43A19;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    display: block;
    margin: 50px auto 100px; /* Centers the button and adds space above */
    text-align: center;
    transition: background-color 0.3s;
    text-decoration: none;
}


.book-appointment-btn:hover {
    background-color: black;
}

/* FOOTER */

footer {
    background-color: #222; 
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: flex-start;
}

.footer-logo{
    width: 300px;
    height: 300px;
    margin-top: 5px; 
}

.footer-left, .footer-left1, .footer-right{
    margin: 5px;
}

.footer-left1 h2 {
    color: white;
}

.footer-left1 p, .footer-left1 address, .footer-left1 form, .footer-left1{
    margin: 10px 0 20px;
}

.footer-left1 address p {
    font-style: normal;
    margin: 20px 0;
}

.footer-left1 address a{
    text-decoration: none;
    color: inherit;
}

.footer-left1 form {
    display: flex;
    align-items: center;
}

.footer-left1 form input[type="email"] {
    padding: 19px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 18px;
}

.footer-left1 form button {
    padding: 22px;
    background-color: #E43A19;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 30px 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items to the center vertically */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    
}

.social-media a {
    margin-right: 40px; 
}

.social-media i {
    font-size: 35px; /* Adjust icon size */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        margin: 20px 0;
    }
}