@import url(
    'https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100900&display=swap'
);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body{
    margin:0;
    padding:0;
    font-family: 'Montserrat', sans-serif;
    background: url('public/buzzeme.jpg') no-repeat center center fixed;
    background: rgba(0,0,0,0.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}
@media only screen and(max-width : 500px),
    (min-device-width : 802px)and(max-device-width:1020px) {
        
    table,thead,tbody, th,td,tr {
        display : block;
    }
    .empty {
        display : none;
    }
    
    th {
        position : absolute;
        top : -99px;
        display: table-cell;
        vertical-align: inherit;
        font-weight: bold;
        text-align: center;
        unicode-bidi: isolate;
    }
    tr {
        border : 1px solid #ccc;
        display: table-row;
        vertical-align: inherit;
        unicode-bidi: isolate;

    }
    td {
        border : none;
        border-bottom : 1 px solid #eee;
        position : relative;
        padding-left : 10px;
    }
  
    td:nth-of-type(1):before {
        content : "Sunday";
    }
    td:nth-of-type(2):before {
        content : "Monday";
    }
    td:nth-of-type(3):before {
        content : "Tuesday";
    }
    td:nth-of-type(4):before {
        content : "Wednesday";
    }
    td:nth-of-type(5):before {
        content : "Thursday";
    }
    td:nth-of-type(6):before {
        content : "Friday";
    }
    td:nth-of-type(7):before {
        content : "Saturday";
    }
    
}



h6{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px ;
    top: 10em;
    height: 8px;
    color: #FFFFFF;
    background-color: yellow;
}


table {
    width:100%;
    border-collapse: separate;
    text-indent: initial;
    background-color:rgb(255, 255, 255);
    table-layout: fixed;
    padding:10px;
    margin-top:30px;
    border-radius:0px 0px 8px 8px ;
}
th, td {
    padding: 10px;
    text-align: center;
    width: 14.28%;
    border-radius: 15px;
   
}
tr td h4{
    font-size: 0.7em;
    padding:2px;
}

.row {
    position:relative;
    margin-left:250px;
    margin-right:250px;
    border-radius: 8px;
    top:5em;
    background-color:rgb(255, 255, 255);

}
/*.today {
    background : rgb(238, 238, 54);
}*/
.prev_mon i{
    display: flex;
    position:absolute;
    font-size: 1em; 
    color: #000; 
    vertical-align: middle;
    cursor: pointer; 
    top: 20px;
    right: 50px;

}
 
.next_mon i {
    display:flex;
    position:absolute;
    font-size: 1em;
    color: #000; 
    vertical-align: middle; 
    margin: 8px 0px 150px; 
    cursor: pointer;
    top: 12px;
    right: 30px;
}

.curr_mon h2 {
    display:flex;
    position:absolute;
    font-size: 1em; 
    color: #000;
    text-align: center;
    top: 20px;
    left: 30px;
}

.prev_mon:hover i,
.next_mon:hover i {
    color: #007bff; 
}

.prev_mon,
.next_mon {
    text-decoration: none; 
}

.prev_mon i,
.next_mon i,
.curr_mon h2 {
    transition: color 0.3s ease, font-size 0.3s ease;
}

.header{
    font-size: 0.7em;
    text-align: center;
    padding: 2px;
    
}

/*button*/
.unavailable{
    color: rgb(255, 254, 254);
    background-color:rgb(204, 33, 33);
    border:0.5px solid rgb(36, 35, 35);
    border-radius: 10px;
    font-size: 10px;
    padding: 0.3px 7px 0.3px 7px;
}
.available{
    color: rgb(255, 254, 254);
    background-color:rgb(26, 171, 43);
    /*border:0.5px solid rgb(130, 127, 127);*/
    border-radius: 10px;
    font-size: 8px;
    padding: 0.8px 10px 0.8px 10px;
    text-decoration:none;
}
