
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, rgba(0,0,0,0.8500000238418579), rgba(141, 141, 141, 0.4)), url('image/aboutuscover.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150vh;
}
/*BARBERS INFO */
.image-container {
    display: flex;
    justify-content: center ;
    flex-wrap: wrap;
    margin-top: 5%;
    padding:1em;
  }


.image {
  position: relative;
    cursor: pointer;
    width: 300px; /* Adjust as needed */
    height: auto;
    margin:0;
    padding:0;
    border-radius: 50%;
    transition: transform 0.3s, filter 0.3s;
    filter: grayscale(100%); /* Apply grayscale by default */
    z-index: 3; /* Set higher z-index for the image */
}

.image:hover,
.image.active {
    margin:10px;
    transform: scale(1.2);
    filter: grayscale(0%); /* Remove grayscale on hover or when active */
}
.info {
  position: relative; /* Change from absolute to relative */
  margin-top: 0px; /* Adjust margin for spacing */
  height: 330px;
  width: 300px;
  background: rgb(247, 247, 247);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 6px 6px rgba(0, 0, 0, 0.1);
  display: none;
  z-index: 1;
}

.team-section {
    text-align: center;
    padding: 20px;
    position:relative;
    top: 25%;
    margin-bottom: 15%;

  }
  
  .team-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  .team-section h1 span {
    color: #ff6600;
  }
  
  .team-members {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-wrap: wrap;
  }
  
  .member {
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .member img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid #ccc;
  }
  .info h2,
.info p,
.info h3 {
  font-size: 0.7em;
  margin: 5px 0;
  text-align:justify;
}

.works-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.work-item {
  width: 48%;
  height: 50px;
  background: #ddd;
  border-radius: 5px;
}
.image-wrapper:hover .info {
    opacity: 1;
    height: auto; /* Allows the dropdown to expand to fit the content */
}
