@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#mainheader {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

#mainheader .logo img {
    height: 150px; /* Adjust based on your logo size */
    margin-left: 120px;
    width: 150px;
}

#mainheader nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    height: 0;
    width: 0;
}

#mainheader ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 300px;
}

#mainheader ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}

#mainheader ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    display: inline-block;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-size: 16px;
}

#mainheader ul li a:hover {
    color: brown;
    text-decoration: underline; /* Add underline on hover */
}

#mainheader ul .submenu {
    position: absolute;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: -280px;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#mainheader ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

#mainheader ul .submenu li {
    margin: 0;
    width: 100%;
    text-transform: none;
}

#mainheader ul .submenu li a {
    padding: 15px 20px;
    display: block;
    width: 100%;
    color: black; /* Ensure submenu links have the correct color */
}

.usericon {
    font-size: 18px;
}


.bookus-button{
    background-color: color;
    color: white;
    margin-left: 1100px;
    margin-top: 120px;
    background-color: #E43A19; 
    font-size: 20px;
    font-weight: 550;
    font-family: "Montserrat";
    text-transform: uppercase;
    padding: 13px 17px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */

}

.bookus-button a{
    color: white; 
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buzz-logo {
    display: flex;
    align-items: center; /* Align items vertically in the center */
}

.buzz-logo img{
    height: 150px;
    width: 150px;   
    margin-left: 250px;
    margin-right: 20px;
}
.branch {
    display: flex;
    flex-direction: column; /* Stack the h3 and p vertically */
}

.branch h3{
    font-style: italic;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.branch p{
    font-size: 19px;
}

.branch a{
    text-decoration: none;
    color: #333;
}

.otherbranch p {
    margin-left: 280px;
    font-size: 20px;
}

.more-soon{
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 100px;
}


/* FOOTER */

footer {
    background-color: #222; 
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: flex-start;
}

.footer-logo{
    width: 300px;
    height: 300px;
    margin-top: 5px; 
}

.footer-left, .footer-left1, .footer-right{
    margin: 5px;
}

.footer-left1 h2 {
    color: white;
}

.footer-left1 p, .footer-left1 address, .footer-left1 form, .footer-left1{
    margin: 10px 0 20px;
}

.footer-left1 address p {
    font-style: normal;
    margin: 20px 0;
}

.footer-left1 address a{
    text-decoration: none;
    color: inherit;
}

.footer-left1 form {
    display: flex;
    align-items: center;
}

.footer-left1 form input[type="email"] {
    padding: 19px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 18px;
}

.footer-left1 form button {
    padding: 22px;
    background-color: #E43A19;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 30px 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items to the center vertically */
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    
}

.social-media a {
    margin-right: 40px; 
}

.social-media i {
    font-size: 35px; /* Adjust icon size */
}

@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
    }

    .footer-left, .footer-right {
        margin: 20px 0;
    }
}
