/* AKIRA_MONTI */
.buzzing_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    padding-top: 500px;
    color: #000000;
    margin-left: 45em;
    margin-top: 100px;
    overflow: hidden;
}

.buzzing_container h4{
    font-size: 100px;
    font-weight: 800;
    padding:0;
    margin: 0;
}

.buzzing_container h2{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: -9px;
}

.buzzing_container h3{
    font-size: 20px;
    font-weight: 200;
    top: 100px;
}

.buzzing_container  p{
    width: 50%;
    text-align: justify;
    margin-left: -20px;

}
.name1 h3{
    position:absolute;
    font-size: 16px;
    font-weight: 200;
    top: 175%;
    left:20%;
}
.name2 h3{
    position:absolute;
    font-size: 16px;
    font-weight: 200;
    top: 200%;
    left:9%;
}

/* MONTI IMAGE */

.v105_40{
    position: absolute;
    float: left;
    width: 500px;
    height: 500px;
    top: 1000px;
    left: 280px;
}
.v105_40 img{
    border-bottom-right-radius: 500px;
    border-bottom-left-radius: 250px;
}


/*AKIRA IMAGE */
.v105_38{
    width: 450px;
    height: 446px;
    opacity: 1;
    position: absolute;
    top: 1240px;
    left: 80px;
    border-radius: 4px;
}
.v105_38 img{
    border-bottom-right-radius: 250px;
    border-bottom-left-radius: 250px;
}


@media (max-width: 768px) {
    .v105_38 {
        width:250px;
        height: 250px;
        
    }
    .buzzing_container {
        display: column;
    }
    .buzzing_container h4 { 
        font-size: 40px;
    }
    .buzzing_container .text-container {
        margin-left: 0; /* Reset margin for smaller screens */
        width: 100%; /* Expand width for mobile devices */
    }
    .buzzing_container p {
        width: 0%; /* Reduce width for better readability */
    }
}