@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 1;
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 70px;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover, 
.sidebar nav ul li a:active, 
.sidebar nav ul li a:focus{
    color: #f73201;
    padding-left: 10px;
    font-weight: bold;
   
}

/* back button  */
.back-button i{
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.back-button i:hover{
    color: #f73201;   
}

/* profile image */
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    margin-left: 3em;
}


.history h1{
    color: black;
    font-size: 44px;
    margin-left: 7em;
}

/* customer name */
.customer-name{
    font-size: 13px;
    text-align: center;
}

/*WELCOME */
.welcome p{
    color: black;
    margin-top: 2em;
    margin-left: 30px;
    font-size: 50px;
    
}

.cstmr-name{
    font-weight: 700;
}


.client-history{
    position: relative;
    top: 18em;
    right: 18em;
}
.client-history table {
    width: 100%;
    /*border-collapse: collapse;*/
    border-radius: 0px 30px;
    font-size: 1.0em;
    text-align: left;
}
.client-history th, td {
    padding: 12px 15px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
thead tr {
    background-color: #333;
    color: #fff;
    text-align: center;
}
tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
tbody tr:hover {
    background-color: #ddd;
}
tbody td {
    text-align: center;
}