@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Montserrat", sans-serif;
}

.bgimage{
    background-image: linear-gradient(to right, rgba(0,0,0,0.8500000238418579), rgba(0, 0, 0, 0.4)), url('image/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    height: 180vh;
    overflow: hidden;
}

#mainheader {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

#mainheader .logo img {
    height: 150px; /* Adjust based on your logo size */
    margin-left: 120px;
    width: 150px;
}

#mainheader nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    height: 0;
    width: 0;
}

#mainheader ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 300px;
}

#mainheader ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}

#mainheader ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    display: inline-block;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-size: 16px;
}

#mainheader ul li a:hover {
    color: brown;
    text-decoration: underline; /* Add underline on hover */
}

#mainheader ul .submenu {
    position: absolute;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: -280px;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#mainheader ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

#mainheader ul .submenu li {
    margin: 0;
    width: 100%;
    text-transform: none;
}

#mainheader ul .submenu li a {
    padding: 15px 20px;
    display: block;
    width: 100%;
    color: black; /* Ensure submenu links have the correct color */
}

.usericon {
    font-size: 18px;
}

.profile-img-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    border: 2px solid #ffffff; /* Optional: add a white border around the image */
}

/*  */
.v79368{
    color: white;
    font-size: 50px;
    position: absolute;
    top: 7em;
    left: 3em;
}

.day{
    font-size: 35px;
    font-weight: 500;
}

.time{
    font-size: 70px;
    font-weight: 800;
    font-style: italic;
}

.appntmnt-button{
    background-color: color;
    color: white;
    background-color: #E43A19; 
    font-size: 20px;
    padding: 13px 17px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

.appntmnt-button a{
    color: white; 
    text-decoration: none;
}

.appntmnt-button:hover{
    background-color: #222222;
}
.text{
    font-size: 25px
}


/* NEWS AND DISCOUNT */
.body-cont h1{
    color: white;
    font-size: 50px;
    margin-top: 1em;
    margin-left: 2em;
}

.body-cont{
    width: 100%;
    height: 1020px;
    background-color: #222222;
    position: absolute;
    top: 67em;
    left: 0px;
    overflow: hidden;

}

.image1{
    width: 500px;
    height: 677px;
    background: url(image/image1.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 120px;
    overflow: hidden;
}


.image2{
    width: 500px;
    height: 677px;
    background: url(image/image2.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 215px;
    left: 730px;
    overflow: hidden;
}


/* barber selection */
.barber-selection{
    width: 100%;
    height: 950px;
    background-color: #ffffff;
    position: absolute;
    top: 2091px;
    left: 0px;
    overflow: hidden;
}

/* barber IMAGE */
.barber-sched-img img{ 
    z-index: 2;
    width: auto;
    height: 88vh;
    margin-top: -50px;
    position: absolute;
}

/* barber MONTHS */
.barber-months{
    width: 425px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 6.5em;
    left: 20em;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

/* barber DROPDOWN */
.barber-dropdown{
    text-align: left;
    margin: 20px;
    margin-left: 55em;
    margin-top: 5em;
}

/* barber DAYS */
.barber-days{
    width: 280px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 400px;
    left: 210px;
    font-weight: Bold;
    font-size: 30px;
    text-align: left;
}

/* barber NAMES */
.barber-names {
    width: 800px;
    color: rgba(0, 0, 0, 1);
    position: absolute;
    top: 400px;
    left: 600px;
    font-size: 30px;
    text-align: left;
}

.barber-names h1{
    font-weight: 300;
}

/* barber APPOINTMENT BUTTON */
.barber-button{
    margin-top: 36em;
    margin-left: 27em;
    background-color: color;
    color: white;
    background-color: #E43A19; 
    font-size: 20px;
    padding: 13px 17px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

.barber-button a{
    color: white; 
    text-decoration: none;
}

.barber-button:hover{
    background-color: #222222;
}

/* BUZZIN BARBER */
.buzzin-barber h1{
    width: 631px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 1.5em;
    left: 3em;
    font-weight: Bold;
    font-size: 50px;
    text-align: center;
}
.buzzin-barber{
    width: 100%;
    height: 1000px;
    background-color: #222222;
    position: absolute;
    top: 190em;
    left: 0px;
    overflow: hidden;
}

.buzzin-img img{
    width: 70em;
    height: 95vh;
    left: 7.2em;
    position: absolute;
    margin-top: 10em;
}

.buzzin-barber h2{
    width: 100%;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 848px;
    left: 1px;
    font-weight: Bold;
    font-size: 40px;
    opacity: 1;
    text-align: center;
}

.buzzin-barber a{
    width: 142px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 900px;
    left: 600px;
    font-style: italic;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
    cursor: pointer;
}

/* FOOTER */

footer {
    background-color: #222; 
    color: white;
    padding: 20px;
    position: relative;
    margin-top: 180em;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: flex-start;
}

.footer-logo{
    width: 300px;
    height: 300px;
    margin-top: 5px; 
}

.footer-left, .footer-left1, .footer-right{
    margin: 5px;
}

.footer-left1 h2 {
    color: white;
}

.footer-left1 p, .footer-left1 address, .footer-left1 form, .footer-left1{
    margin: 10px 0 20px;
}

.footer-left1 address p {
    font-style: normal;
    margin: 20px 0;
}

.footer-left1 address a{
    text-decoration: none;
    color: inherit;
}

.footer-left1 form {
    display: flex;
    align-items: center;
}

.footer-left1 form input[type="email"] {
    padding: 19px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 18px;
}

.footer-left1 form button {
    padding: 22px;
    background-color: #E43A19;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 30px 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items to the center vertically */
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    
}

.social-media a {
    margin-right: 40px; 
}

.social-media i {
    font-size: 35px; /* Adjust icon size */
}