@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to right, rgba(0,0,0,0.8500000238418579), rgba(141, 141, 141, 0.4)),  url('image/cover.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

#mainheader {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

#mainheader .logo img {
    height: 150px; /* Adjust based on your logo size */
    margin-left: 120px;
    width: 150px;
}

#mainheader nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    height: 0;
    width: 0;
}

#mainheader ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 300px;
}

#mainheader ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    padding: 10px 15px;
    text-transform: uppercase;
}

#mainheader ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    display: inline-block;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-size: 16px;
}

#mainheader ul li a:hover {
    color: brown;
    text-decoration: underline; /* Add underline on hover */
}

#mainheader ul .submenu {
    position: absolute;
    width: 220px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: -280px;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#mainheader ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

#mainheader ul .submenu li {
    margin: 0;
    width: 100%;
    text-transform: none;
}

#mainheader ul .submenu li a {
    padding: 15px 20px;
    display: block;
    width: 100%;
    color: black; /* Ensure submenu links have the correct color */
}

.usericon {
    font-size: 18px;
} 



/*book appointment button */

.book-appointment-btn {
    background-color: #E43A19;
    color: white;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    position: absolute;
    display: block;
    bottom: -53.5%; /* Adjust the distance from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Center the button horizontally */
}

.book-appointment-btn:hover {
    background-color: black;
}

/*BARBERS AVAILABILITY */
.barbers-container {
    display: flex;
    flex-direction: column; /* Stack items vertically */

}

.text {
    margin-top: 78.5%; /* Add space between h1 and images */
    margin-left: 5.5em;/* Center align the text */
    color: black;
    font-size: 28px;
}


.availability{
    background-color: #fff;
    border-radius: 10px;
    padding: 2rem;
    margin-top: 2em;
}
.availability h2 {
    text-align: center;
    margin-bottom: 1rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 0.5rem;
}

th img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

#check{
    color: #4BD37B;
    font-size: 50px;

}

#xmark{
    color: #FF473E;
    font-size: 50px;
}


/*BUZZIN BARBERS */
.buzzin-barber {
    text-align: center;
}

.buzzin-barber h2 {
    font-size: 1.5rem;
    font-weight: bold;
    bottom: 20%;
    }

.buzzin-barber i {
    color: #ff5733;
    cursor: pointer;
    font-weight: 300;
}

.buzzin-barber img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 1rem;
}



.stock-photos{
    align-items: center;
    text-align: center;
    object-fit: contain; 
    image-rendering: crisp-edges; 
    image-rendering: pixelated; 
    background-size: cover;
    margin: 0;
    padding: 0;
}

.stock-photos h2 {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 1em;
}

.photo-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.gallery img {
    width:100%;
    height: auto;
    left: 75px;
}
.gallery1 img {
    width:100%;
    height: auto;
    background-color: #222;
}

.buzzin-barber .appointment {
    text-align: center;
    margin-top: 2rem;
}

.appointment button {
    align-items: center;
    text-align: center;
    object-fit: contain; 
    background-color: #E43A19;
    color: #fff;
    border: none;
    border-radius: 25px;
    padding: 15px 30px;
    font-weight: bold;
    font-size: 18.5px;
    cursor: pointer;
    margin: 20px;
    
}

.appointment button:hover {
    background-color: black;
}



/* FOOTER */

footer {
    background-color: #222; 
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: flex-start;
}

.footer-logo{
    width: 300px;
    height: 300px;
    margin-top: 5px; 
}

.footer-left, .footer-left1, .footer-right{
    margin: 5px;
}

.footer-left1 h2 {
    color: white;
}

.footer-left1 p, .footer-left1 address, .footer-left1 form, .footer-left1{
    margin: 10px 0 20px;
}

.footer-left1 address p {
    font-style: normal;
    margin: 20px 0;
}

.footer-left1 address a{
    text-decoration: none;
    color: inherit;
}

.footer-left1 form {
    display: flex;
    align-items: center;
    
}

.footer-left1 form input[type="email"] {
    padding: 19px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 18px;
}

.footer-left1 form button {
    padding: 22px;
    background-color: #E43A19;
    color: white;
    border: none;
    border-radius: 0 10px 10px 0;
    cursor: pointer;
}


.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 30px 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items to the center vertically */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    
}

.social-media a {
    margin-right: 40px; 
}

.social-media i {
    font-size: 35px; /* Adjust icon size */
}



/* Media queries */
@media screen and (max-width: 600px) {
   
}


