@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    background: url('image/LandingPageBG.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 150vh;
}

#mainheader {
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

#mainheader .logo img {
    height: 150px; /* Adjust based on your logo size */
    margin-left: 120px;
    width: 150px;
}

#mainheader nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    list-style: none;
    height: 0;
    width: 0;
}

#mainheader ul {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: 350px;
}

#mainheader ul li {
    position: relative;
    list-style: none;
    margin: 0 20px;
    padding: 10px 15px;
}

#mainheader ul li a {
    text-decoration: none;
    color: black;
    padding: 20px 0;
    display: inline-block;
    transition: color 0.3s ease, text-decoration 0.3s ease;
    font-size: 16px;
}

#mainheader ul li a:hover {
    color: brown;
    text-decoration: underline; /* Add underline on hover */
}

#mainheader ul .submenu {
    position: absolute;
    width: 150px;
    background-color: beige;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    left: -360px;
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

#mainheader ul li:hover .submenu {
    z-index: 99;
    opacity: 1;
    visibility: visible;
}

#mainheader ul .submenu li {
    margin: 0;
    width: 100%;
}

#mainheader ul .submenu li a {
    padding: 15px 20px;
    display: block;
    width: 100%;
    color: black; /* Ensure submenu links have the correct color */
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .signup {
    color: white;
    padding: 12px;
    margin: 12px;
    background-color: #E43A19; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;   
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */

  }
  .signup a{
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;   
}

.signup:hover{
    background-color: #222222;
}
  
 .login {
    color: white;
    padding: 12px;
    margin: 12px;
    background-color: #E43A19; 
    font-size: 16px;
    text-align: center;
    text-decoration: none;   
    border: none; 
    border-radius: 20px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
  }

  .login a{
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;   
}

.login:hover{
    background-color: #222222;
}
  
  .button:hover {
    background-color: #555;
  }

#landing-container h1 {
    margin: 150px;
    margin-top: 300px;
    text-align: justify;
    position: absolute;
    width: 400px;
}
#landing-container p {
    margin: 150px;
    font-size: 20px; 
    margin-top: 440px;
    text-align: justify;
    position: absolute;
    width: 350px;   
}
.landing-button{
    background-color: color;
    color: white;
    margin: 150px;
    margin-top: 520px;
    background-color: #E43A19; 
    font-size: 20px;
    padding: 13px 17px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */

}

.landing-button a{
    color: white; 
    text-decoration: none;

}

.landing-button:hover{
    background-color: #222222;
}

.see-more{
    color: black; 
    text-decoration: none; 
    font-size: 20px;
}

.landing-images {
    display: flex   ;
    margin-top: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.landing-images img {
    width: 350px; 
    height: 400px;
    object-fit: cover;
    margin-top: -50px; 
    margin-left: 30px;   
    display: block;
}
.landing-txt-images{
    position: relative;
    margin-top: 10px;
    margin-left: 2em;
}

.landing-txt-images h1{
    margin: 100px;
    margin-top: 200px;
    width: 400px;
    font-size: 30px;
    font-style: italic;
}
.landing-txt-images p{
    margin: 100px;
    font-size: 16px;
    margin-top: -100px;
    width: 370px;
}
.landing-txt-images img{
    position: absolute;
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin-top: -150px;
    margin-right: 105px;
    top: 0;
    right: 0;
    
}
.landing-images2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.landing-images2 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin-top: 90px;
    margin-left: 30px;
    display: block;
}

.landing-txt-images2{    
    position: relative;
    margin-top: 10px;
}
.landing-txt-images2 h1{
    margin: 800px;
    margin-top: 100px;
    width: 400px;
    font-size: 30px;
    font-style: italic;
    text-align: right;
}

.landing-txt-images2 p{
    margin: 750px;
    margin-top: -790px;
    font-size: 16px;
    width: 450px;
    text-align: right;
}
.landing-txt-images2 img{
    position: absolute;
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin-top: -50px;
    margin-left: 135px;
    top: 0;
    left: 0;
}

.landing-images3{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.landing-images3 img{
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin-top: -600px;
    margin-left: 30px;
    display: block;
}

.salitran img{
    width: 250px;
    height: auto;
    margin: 2px;

}
.and-more{
    display: block;
    margin: 50px;
    text-decoration: none;
    text-align: center;
    color: black;
}
.salitran {
    text-align: center; 
}
.branch {
    margin: 0 auto; 
}
.experience{
    padding: 10px;
    margin: 4px auto;
    width: 399px;
}
.branch h1{
    margin: 5px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 2px;
}
.is-now-open{
    letter-spacing: 10px;
}
.images-row {
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    margin: 20px 0;
}

.images-row img {
    display: inline-block; 
    width: auto; 
    height: auto; 
    object-fit: cover; 
}

.salitran-add{
    font-weight: bold;
    font-style: italic;
    margin-bottom: 10px;
}


.buzz-and-collectives p{
    font-weight: bold;
    margin: 350px;
    margin-top: 100px;
}
.buzz-and-collectives h1{
    margin: 350px;
    margin-top: -350px;
}
.container {
    display: flex; 
    justify-content: flex-end; 
    align-items: center; 
}
.book{
    background-color: color;
    margin: 350px;
    margin-top: -405px;
    background-color: #E43A19; 
    font-size: 20px;
    padding: 13px 17px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
}
.book a{
    color: white;
    text-decoration: none;
    display: block;
}

.book:hover{
    background-color: #222222;
}

/* FOOTER */

footer {
    background-color: #222222; 
    color: white;
    padding: 20px;
    position: relative;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 50px;
    align-items: flex-start;
}

.footer-logo{
    width: 300px;
    height: 300px;
    margin-top: 5px; 
}

.footer-left, .footer-left1, .footer-right{
    margin: 5px;
}

.footer-left1 h2 {
    color: white;
}

.footer-left1 p, .footer-left1 address, .footer-left1 form, .footer-left1{
    margin: 10px 0 20px;
}

.footer-left1 address p {
    font-style: normal;
    margin: 20px 0;
}

.footer-left1 address a{
    text-decoration: none;
    color: inherit;
}

.footer-left1 form {
    display: flex;
    align-items: center;
}

.footer-left1 form input[type="email"] {
    padding: 19px;
    border: none;
    border-radius: 5px 0 0 5px;
    flex: 1;
    font-size: 18px;
}

.footer-left1 form button {
    padding: 22px;
    background-color: #E43A19;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.footer-right ul {
    list-style: none;
    padding: 0;
}

.footer-right ul li {
    margin: 30px 0;
}

.footer-right ul li a {
    color: white;
    text-decoration: none;
}

.footer-right ul li a:hover {
    text-decoration: underline;
}

.social-media {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items to the center vertically */
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    
}

.social-media a {
    margin-right: 40px; 
}

.social-media i {
    font-size: 35px; /* Adjust icon size */
}