@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: "Montserrat", sans-serif ;
  }
  body {
    font-size: 120%;
    background: #F8F8FF;
  }

  h2{
    color: white;
    margin-left: 6em;
  }

  form, .content {
    width: 70%;
    height: 500px;
    margin: 0px auto;
    padding: 20px;
    background: #111F4D;
    margin-top: 3.5em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.5);
    overflow: hidden;
  }


  .image-container .img29_6{
    width: 500px;
    height: 540px;
    background: linear-gradient(to right, rgba(0,0,0,0.8500000238418579), rgba(141, 141, 141, 0.4)),   url("image/buzz&collectives.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 66.5px;
    left: 679px;
    overflow: hidden;
    border-radius: 0px 20px 20px 0px;
  }





  .input-group {
    margin: 10px 0px 10px 0px;
    margin-left: 2em;
  }
  .input-group label {
    display: block;
    text-align: left;
    margin: 3px;
    color: white;
    margin-top: 2em;
  }

  .input-group input {
    height: 25px;
    width: 35%;
    margin: 10px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 20px;
    border: 1px solid gray;
  }
  .btn {
    width: 160px;
    padding: 10px;
    font-size: 15px;
    color: white;
    background: #E43A19;
    border: none;
    border-radius: 18px;
    margin-left: 6.5em;
  }
  .error {
    width: 92%; 
    margin: 0px auto; 
    padding: 10px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 5px; 
    text-align: left;
  }
  .success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
  }

  p{
    color: white;
  }