@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 1;
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 70px;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover, 
.sidebar nav ul li a:active, 
.sidebar nav ul li a:focus{
    color: #f73201;
    padding-left: 10px;
    font-weight: bold;
   
}

/* back button  */
.back-button i{
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.back-button i:hover{
    color: #f73201;   
}

/* profile image */
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    margin-left: 3em;
}

.profile h1{
    color: black;
    margin-left: 7em;
    font-size: 44px;
}

.profile h5{
    color: black;
    margin-left: 20.7em;
    font-size: 15px;
    margin-top: -2em;
    font-weight: 400;

}

.profile-img-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* customer name */
.customer-name{
    font-size: 13px;
    text-align: center;
}



/* customer info */
.customer-info form{
    margin-top: 10em;
    margin-left: -17em;
}

/* client email */
.client-username {
    margin-left: 3em;
    color: rgb(99, 99, 99);
}

.client-email{
    margin-left: 5.4em;
    color: rgb(99, 99, 99);
}

.update-button{
    color: #f73201;  
}

.email-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-btn{
    margin-left: 1em;
}
/*upload button */



/* profile pic button */
.remove-button{
    cursor: pointer;
    text-decoration: underline;
}

.pic-button{
    margin-top: 20em;
    margin-left: -23.4em;
}




