@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 999;
}

i.bx-menu{
    display: none;
    order: 2; 
    font-size: 30px; 
    color: #333; 
    cursor: pointer; 
    display: block;
}
#close-sidebar {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 0.93rem; 
    right: 0.93rem; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}
#close-sidebar:hover{
    color: #f73201;   
    transform: rotate(90deg);
}


/* Mobile Navbar (for screens below 768px) */
.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mobile-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.mobile-logo img {
    max-height: 25vh;
    max-width: 25vw;
    margin: 1rem;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 70px;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover, 
.sidebar nav ul li a:active, 
.sidebar nav ul li a:focus{
    color: #f73201;
    padding-left: 10px;
    font-weight: bold;
   
}

/* back button  */
.back-button i{
    font-size: 1.2rem; 
    color: white;
    text-decoration: none;
    margin-left: 1em;
}

.back-button i:hover{
    color: #f73201;   
}

/* profile image */
.profile-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
    object-fit: cover;
    margin-left: 3em;
}

.profile h1{
    color: black;
    margin-left: 1em;
    font-size: 44px;
}

.profile h5{
    color: black;
    margin-left: 3em;
    font-size: 15px;
    margin-top: -2em;
    font-weight: 400;

}

.profile-img-header {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* profile wrapper*/
.profile-wrapper{
    width: 71%;
    margin: 20px auto; /* Centers the wrapper */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 1px;
    margin-left: 19em;
}

/* customer name */
.customer-name{
    font-size: 13px;
    text-align: center;
}

/* customer info */
.customer-info{
    margin-top: 4em; /* Adjust for better spacing */
    text-align: left; /* Align text to the left */
    padding-left: 4em;
}
.customer-info form{
    margin-top: 5em;
    margin-left: 1px;
}

/* client email */
.client-username {
    margin-left: 3em;
    color: rgb(99, 99, 99);
}

.client-email{
    margin-left: 5.4em;
    color: rgb(99, 99, 99);
}


/* customer name*/
.custname{
    margin-top: -4em;
}
.name-input{
    margin-left: 6em;
    width: 25%;
    padding: 8px;
    border-radius: 50px;
}

/* save name button*/
.save-name-button{
    background-color: color;
    color: white;
    background-color: #E43A19; 
    font-size: 14px;
    padding: 10px 12px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

.save-name-button:hover{
    background-color: #222222;
}

/*remove name button*/
.remove-name-button{
    background-color: color;
    color: white;
    background-color: #E43A19; 
    font-size: 14px;
    padding: 10px 12px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

.remove-name-button:hover{
    background-color: #222222;
}


.email-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.change-btn{
    margin-right: 25em;
    text-decoration: none;
    color: #f73201; 
    position: relative ;
    display: inline-block;
    cursor: pointer;
   
}

.change-btn::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #030303; /* Set the underline color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.change-btn:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}
/*upload button */
.upload-button{
    text-decoration: none;
    color: #000; /* Set your preferred color */
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin-bottom: 1em;
    margin-left: 4px;
}

.upload-button::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f73201; /* Set the underline color */
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.upload-button:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/* profile pic button */
.remove-image-button{
    background-color: color;
    color: white;
    background-color: #E43A19; 
    font-size: 14px;
    padding: 10px 12px;
    border: none; 
    border-radius: 30px; 
    cursor: pointer; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow to the header */
}

.remove-image-button:hover{
    background-color: #222222;
}

.pic-button{
    margin-top: 20em;
    margin-left: -23.4em;
}

@media (max-width: 1200px){
    .profile-wrapper{
        width: 65%;
        height: 80vh;
    }
}

@media (max-width:1024px){
    .profile-img{
        width: 120px;
        height: 120px;
        display: block;
        margin: 20px auto; 
    }
    .profile-wrapper{
        width: 60%;
        margin-left: 18em;
        height: 90vh;
    }
    .customer-info{
        margin-top: 3em;
    }
    .client-username{
        margin-left: 2em;
    }
    .client-email{
        margin-left: 4.5em;
    }
    .change-btn{
        margin-right: 2em;
        margin-top: -2%;
    }

}

@media (max-width:920px){
    .profile-wrapper{
        width: 57%;
        margin-left: 17em;
        margin-right: 0.625rem;
    }
    .customer-info{
        margin-top: 3rem;
    }
    .client-username{
        margin-left: 2em;
    }
    .client-email{
        margin-left: 8em;
    }
    .change-btn{
        margin-right: 5em;
        margin-top: 4%;
    }
    .name-input{
        padding: 0.375rem;
        width: 25%;
    }
    .save-name-button,
    .remove-name-button,
    .remove-image-button{
        padding: 8px 10px;
        font-size: 0.875rem;
    }
}

/*@media (max-width: 821px){

    .client-email{
        margin-left: 5em;
    }
    .change-btn{
        margin-top: -2%;
        margin-right: 10em;
    }
}*/ 

@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }
    .sidebar {
        display: none; 
        right: 0; /* Aligns sidebar to the right */
        transform: translateX(100%); /* Initially hides the sidebar */
        transition: transform 0.3s ease;
    }

    .sidebar .logo img {
        margin-top: 15%;
        max-height: 100px;
        width: auto; 
    }
    .sidebar nav ul {
        margin-top: 10%; 
    }

    i.bx-menu {
        display: block; 
        cursor: pointer;
        font-size: 2.5rem; 
        color: #333; 
        position: absolute;
        right: 12%; /* Positioning to the right side */
        top: 1.25rem; /* Adjusts vertical positioning */
    }
    /* Show the sidebar when the 'open' class is added */
    .sidebar.open {
        display: block; 
        transform: translateX(0); /* Slide-in effect */
    }
    .mobile-logo img {
        max-height: 17vh;
        max-width: 17vh;
    }
    .profile-wrapper{
        width: 85%;
        margin-left: 2em;
        margin-right:  0.313rem;
        position: relative;
        top: 12%;
        height: 80vh;
    }

    .profile h1{
        font-size: 2.5rem;
        margin-left: 0.5em;
    }
    .profile h5{
        margin-left: 1.5em;
    }
    .customer-info {
        padding-left: 1.5em; /* Reduce padding for smaller screens */
        margin-top: 2.5em; /* Adjust top margin */
    }
    .client-username{
        margin-left: auto;
    }
    .client-email{
        margin-left: auto;
    }
    .change-btn{
        margin-top: -1%;
        margin-right: 2em;
    }
    .name-input{
        margin-left: auto;
        padding: 10px;
        width: 40%;
    }

}

@media (max-width:480px){
    i.bx-menu{
        font-size: 2.18rem;
        right: 14%;
    }
    .mobile-logo img {
        max-height: 13vh;
        max-width: 13vh;
        margin-left: -0.5rem;
    }
    .profile-wrapper{
        width: 82%;
        margin-left: 1em;
        margin-right: 1px;
        position: relative;
        top: 10%;
        height: 65vh;
    }
    .customer-info {
        padding-left: 0.5em; /* Reduce padding for smaller screens */
        margin-top: 2em; /* Adjust top margin */
        font-size: 0.9rem;
    }

    .name-input{
        width: 70%;
    }
    .sidebar nav ul{
        margin-top: 50px;
    }
    .profile-img{
        width: 100px;
        height: 100px;
        display: block;
        margin: 20px auto; 
    }
    .profile h1{
        margin-left: 0.2em;   
        font-size: 1.9rem;
    }
    .profile h5{
        margin-left: 0.5em;   
        margin-top: -1em;     
    }
}