@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background: url('../design/image/buzzeme.jpg') no-repeat center center fixed;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    min-height: 100vh; 
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    position: relative; 
    overflow: visible; 
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 27, 27, 0.91);
    position: fixed;
    z-index: -1;
}

.confirmation-form {
    color: #ffffff;
    text-align: center; 
    margin-top: 5%; 
    padding: 0; 
}  

.confirmation-section {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 80%; 
    max-width: 1200px; 
}

.confirmation-message {
    color: white;
    text-align: left;
    width: 40%; 
    max-width: 600px;
    margin-right: 20px;
    margin-top: 5%;

}

.receipt-container {
    width: 48%;
    max-width: 500px; /* Optional max width */
    padding: 30px;
    background: #ffffff;
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 5%;
    margin-bottom: 10px;
}

.confirmation-message a {
    text-decoration: none;
    color: white;
}

.confirmation-message h1 {
    text-transform: uppercase;
}

.receipt-details h3 {
    text-align: center;
    margin-bottom: 20px;
}

.receipt-details p {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.receipt-details strong {
    text-align: right;
}


.confirmation-buttons {
    text-align: center; /* Center align buttons */
    margin-top: 20px; /* Add some space above the buttons */
}

.confirmation-buttons form {
    display: inline-block; /* Keep forms in-line */
    margin: 0 10px; /* Space between buttons */
}

.confirm-btn {
    background-color: #E43A19; 
    color: white; 
    border: none; 
    padding: 10px 20px;
    font-size: 16px; /* Adjust font size */
    cursor: pointer; /* Change cursor to pointer */
}

.confirm-btn:hover {
    background-color: darkred; /* Darker red on hover */
}

.confirmation-buttons button {
    padding: 10px 20px; /* Same padding for "Back" button */
    font-size: 16px; /* Same font size */
    border-radius: 5px; /* Same border-radius */
}