@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #363636;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 0 10px;
}

.signup-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 900px;
    background: #ffffff;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    overflow: hidden;
}

.signup-image {
    background: linear-gradient(to left, rgba(0,0,0,0.8500000238418579), rgba(141, 141, 141, 0.4)), url('image/WEL-white.png') no-repeat center center;
    background-size: cover;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.signup-form-container {
    flex: 1;
    padding: 30px 20px;
    background-color: #222222;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.signup-form-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

.signup-form h4 {
    font-size: 12px;
    font-weight: 400;
    margin: 10px 0 5px;
    text-align: left;
    width: 100%;
    max-width: 400px;
    color: #ffffff;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 350px;
}

.signup-form input {
    max-width: 400px;
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 8px;
    background-color: #f5f5f5;
    font-size: 16px;
} 

.signup-form input[type="submit"] {
    background-color: #E43A19;
    color: #ffffff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.signup-form input[type="submit"]:hover {
    background-color: #7c200e;
}

.signup-form-container h3 {
    margin-top: 5px;
    font-size: 14px;
    color: #ffffff;
    font-weight: 300;
}

.signup-form-container a {
    color: #E43A19;
    text-decoration: none;
    font-weight: 600;
}

.signup-form-container a:hover {
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    .signup-container {
        flex-direction: column;
        max-width: 90%;
    }

    .signup-image {
        height: 250px;
    }

    .signup-form-container {
        padding: 20px;
    }

    .signup-form input {
        font-size: 14px;
    }

    .signup-form-container h2 {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .signup-form {
        padding: 20px;
    }

    .signup-form input,
    .signup-form input[type="submit"] {
        width: 100%;
        max-width: 90%;
    }

    .signup-form-container h2 {
        font-size: 24px;
    }

    .signup-image {
        height: 200px;
        max-width: 200px;
    }
}
