@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 999;
}

i.bx-menu{
    display: none;
    order: 2; 
    font-size: 30px; 
    color: #333; 
    cursor: pointer; 
    display: block; 
}
#close-sidebar {
    font-size: 2rem; 
    color: white; 
    text-decoration: none;
    position: absolute; 
    top: 0.93rem; 
    right: 0.93rem; 
    cursor: pointer; 
    transition: transform 0.3s ease; /* Smooth rotation transition */
}
#close-sidebar:hover{
    color: #f73201;   
    transform: rotate(90deg); /* Rotate the icon on hover */
}

/* Mobile Navbar (for screens below 768px) */
.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mobile-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.mobile-logo img {
    max-height: 25vh;
    max-width: 25vw;
    margin: 1rem;
}

.sidebar .logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 17%;
}
.sidebar .logo img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 13%;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    color: #f73201; 
    padding-left: 10px;
    font-weight: bold;
}

/* back button  */
.back-button i{
    font-size: 1.2rem; 
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.back-button i:hover{
    color: #f73201;   
}

.dropdown-container{
    text-align: left;
    margin: 20px;
    margin-left: 300px;
    margin-top: 50px;
}
label {
    font-size: 17px;
    color: #333;
}
select {
    width: 160px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
}
.dropdown-container input[type="date"] {
    width: 15%; 
    padding: 10px; 
    font-size: 16px; 
    border-radius: 5px; 
    border: 1px solid #ccc;
    box-sizing: border-box; 
}
.show-btn{
    background-color: #f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
}
.show-btn:hover{
    background-color: #222222;
}
.container {
    width: 70%;
    margin: 50px auto;
    margin-left: 325px;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 80vh;
}

.barbers-header{
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.barbers-header h1{
    color: #000000;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.barbers-header .date{
    font-style: italic;
    font-weight: 100;
}

.schedule-wrapper {
    width: 100%; /* Adjust width to match container */
    margin: 20px auto; /* Center align */
}

.schedule-wrapper table {
    width: 100%; 
}

.schedule-wrapper th{
    text-align: center; /* Center align text in table */
    padding: 10px; 
}

.barbers {
    display: flex;
    justify-content: center;
    text-align: center;
}

.barbers th {
    width: 100px; 
    padding: 15px; 
    text-align: center;
}

.barber-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px; /* Adjust spacing between images */
}
.barber-container td {
    width: 100px;           
    text-align: center;  
    text-transform: uppercase;
    padding: 15px;
}

.barber-container input[type="checkbox"] {
    transform: scale(1.5);
    margin: 0;             
    cursor: pointer;      
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 5px; /* Adds spacing between buttons */
}
.btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}
#closeModal {
    background-color:#f44336; /* Soft red background */
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative;
    top: 20%;
    border-radius: 5px;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: #fff;
    height: auto;
    margin: 15% auto;
    padding: 10px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 8px;
}
#modal-message{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5px;
}


.save-btn{
    background-color:#f44336; 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin: 10px;
    text-transform: uppercase;
    float: right;
}

.save-btn:hover {
    background-color: #222222;
}

.edit-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 13px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    float: right;
}

.edit-btn:hover {
    background-color: #222222;
}

@media (max-width: 1200px) {
    .container {
        margin-left: 280px;
    }
}

@media (max-width: 1024px) {
    .dropdown-container input[type="date"] {
        width: 20%;
    }
    .container {
        margin-left: 260px;
    }
    .barbers-header h1 {
        font-size: 22px;
    }
    .barbers-header .date {
        font-size: 22px;
    }
}

@media (max-width: 920px) {
    .dropdown-container {
        margin-left: 265px;
    }
    .dropdown-container input[type="date"] {
        width: 22%;
    }
    .show-btn {
        padding: 10px 10px;
        margin: 5px;
    }
}

@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }
    .sidebar {
        display: none; 
        right: 0; /* Aligns sidebar to the right */
        transform: translateX(100%); /* Initially hides the sidebar */
        transition: transform 0.3s ease;
    }

    .sidebar .logo img {
        margin-top: 15%;
        max-height: 100px;
        width: auto; 
    }
    .sidebar nav ul {
        margin-top: 10%; 
    }

    i.bx-menu {
        display: block; 
        cursor: pointer;
        font-size: 2.5rem; 
        color: #333; 
        position: absolute;
        right: 7%; /* Positioning to the right side */
        top: 1.25rem; /* Adjusts vertical positioning */
    }
    /* Show the sidebar when the 'open' class is added */
    .sidebar.open {
        display: block; 
        transform: translateX(0); /* Slide-in effect */
    }
    .mobile-logo img {
        max-height: 15vh;
        max-width: 15vh;
    }
    .dropdown-container {
        margin-left: 70px;
        margin-top: 130px;
    }
    .dropdown-container input[type="date"] {
        width: 20%;
    }
    .container {
        width: 80%;
        margin-left: 70px;
    }
}

@media (max-width: 480px) {
    i.bx-menu{
        font-size: 2.18rem;
        right: 6%;
    }
    .mobile-logo img {
        max-height: 13vh;
        max-width: 13vh;
        margin-left: -0.5rem;
    }
    .dropdown-container {
        margin-left: 30px;
        margin-top: 100px;
    }
    label {
        font-size: 18px;
    }

    .dropdown-container form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .dropdown-container input[type="date"], .show-btn {
        width: 100%;
        margin: 5px 0; 
    }

    .dropdown-container input[type="date"] {
        width: 100%;
    }

    .show-btn {
        width: 100%; 
    }
    .container {
        width: 85%;
        margin-left: 30px;
    }

    .schedule-wrapper {
        overflow-x: auto; /* Horizontal scrolling */
    }
}