@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: #F5F5F5;
    color: #000000;
}
.sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 999;
}

i.bx-menu{
    display: none;
    order: 2; 
    font-size: 30px; 
    color: #333; 
    cursor: pointer; 
    display: block; 
}
#close-sidebar {
    font-size: 2rem; 
    color: white; 
    text-decoration: none;
    position: absolute; 
    top: 0.93rem; 
    right: 0.93rem; 
    cursor: pointer; 
    transition: transform 0.3s ease; /* Smooth rotation transition */
}
#close-sidebar:hover{
    color: #f73201;   
    transform: rotate(90deg); /* Rotate the icon on hover */
}

/* Mobile Navbar (for screens below 768px) */
.mobile-navbar {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: #F8F8F8;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 99;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.mobile-logo {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.mobile-logo img {
    max-height: 25vh;
    max-width: 25vw;
    margin: 1rem;
}


.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 13%;
}

.sidebar .logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 17%;
}
.sidebar .logo img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
}


.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    color: #f73201;
    padding-left: 10px;
    font-weight: bold;
}

/* back button  */
.back-button i{
    font-size: 1.2rem; 
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.back-button i:hover{
    color: #f73201;   
}

/* APPOINTMENT FEE STYLE */
.appointment-fee-content{
    padding: 20px;
    margin: 20px;
    margin-left: 300px;
    margin-top: 30px;
    text-align: left;
}

.appointment-fee-content h1{
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.appointment-fee-content label {
    display: block;
    font-weight: bold;
}
.appointment-fee-content input[type="number"]{
    width: 100%;
    padding: 10px; 
    margin-bottom: 15px; /* Space below inputs */
    border: 1px solid #ccc;
    border-radius: 4px; 
    font-size: 16px;
}
.update-btn{
    background-color: #E43A19;
    text-transform: uppercase;
    color: white;
    padding: 10px 15px;    
    border-radius: 14px;
    border: none;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }
    .sidebar {
        display: none; 
        right: 0; /* Aligns sidebar to the right */
        transform: translateX(100%); /* Initially hides the sidebar */
        transition: transform 0.3s ease;
    }

    .sidebar .logo img {
        margin-top: 15%;
        max-height: 100px;
        width: auto; 
    }
    .sidebar nav ul {
        margin-top: 10%; 
    }

    i.bx-menu {
        display: block; 
        cursor: pointer;
        font-size: 2.5rem; 
        color: #333; 
        position: absolute;
        right: 7%; /* Positioning to the right side */
        top: 1.25rem; /* Adjusts vertical positioning */
    }
    /* Show the sidebar when the 'open' class is added */
    .sidebar.open {
        display: block; 
        transform: translateX(0); /* Slide-in effect */
    }
    .mobile-logo img {
        max-height: 15vh;
        max-width: 15vh;
    


}

@media (max-width: 480px){
    i.bx-menu{
        font-size: 2.18rem;
        right: 6%;
    }
    .mobile-logo img {
        max-height: 13vh;
        max-width: 13vh;
        margin-left: -0.5rem;
    }
    .appointment-fee-header {
        margin-left: 30px;
    }
}