@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222;
    color: white;
    padding-top: 20px;
}

.sidebar .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 17%;
}

.sidebar .logo img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 13%;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    color: #f73201; 
    padding-left: 10px;
    transition: padding-left 0.2s ease;
    font-weight: bold;
}

.content {
    margin-left: 270px;
    padding: 20px;
}

.dropdown-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

select {
    width: 180px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
    margin-right: 20px;
    cursor: pointer;
}

.delete-btn {
    display: flex;
    gap: 10px;
}

.delete-button,
.confirm-btn,
.cancel-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    color: white;
}

.delete-button {
    background-color: #000000;
}

.confirm-btn {
    background-color: #f44336;
}

.cancel-btn {
    background-color: #f44336;
}

.delete-button:hover,
.confirm-btn:hover,
.cancel-btn:hover {
    background-color: #222222;
}

.appointments-table-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
}

.appointments-table th, .appointments-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}

.appointments-table tr:hover {
    background-color: #f1f1f1;
}

.appointments-table th {
    background-color: #222;
    color: white;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}

.popup-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.popup-content button{
    background-color:#f44336; /* Soft red background */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background-color 0.3s ease;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    position: relative;
    top: 10%;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

.view-receipt {
    color:#121111; 
    font-weight: bold; 
    border-radius: 5px; 
    transition: background-color 0.3s, color 0.3s; /* Add transition for hover effect */
}

.view-receipt:hover {
    color: #841a1a; /* Change text color on hover */
    z-index: 1;
}
