body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
/* HEADER */ 
.top-nav {
    position: block;
    top: 0;
    left: 0;
    right: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    z-index: 1000;
    margin: 0 ;
}

.top-nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.notification-dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.sidebar .logo img{
    text-align: center;
    height: 150px; /* Adjust based on your logo size */
    width: 150px;
    margin-top: -60px;
    margin-left: 15px;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
    padding: 5px;
}

.sidebar nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
}

.sidebar nav ul li a:hover {
    background-color: #000000;
    padding-left: 10px;
}

.dropdown-container{
    text-align: left;
    margin: 20px;
    margin-left: 350px;
    margin-top: -400px;
}
label {
    font-size: 14px;
    color: #333;
}
select {
    width: 160px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
}
.container {
    width: 70%;
    margin: 30px auto;
    margin-left: 300px;
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
    margin: 5px; /* Adds spacing between buttons */
}
.btn a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
}
.edit-btn {
    background-color: #6961D9;
}
.edit-btn:hover {
    background-color: #0056b3;
}
.save-btn {
    background-color: #4BD37B;
}

.save-btn:hover {
    background-color: #218838;
}
.barbers-header{
    display: flex;
    margin: 10px;
    text-align: center;
    justify-content: center;
}
.barbers-header h1{
    color: #000000;
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
}
.barbers-header .date{
    font-style: italic;
    font-weight: 100;
}
.barbers {
    display: flex;
    justify-content: center;
    text-align: center;
}

.barber-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 35px; /* Adjust spacing between images */
}

.barber-container img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; /* Makes the image circular */
    margin-right: -10px; /* Adjust spacing between images */
    filter: brightness(60%) opacity(0.7); /* Adjust brightness and opacity */
    margin-bottom: 25px;
}
.checkbox-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.checkbox-container div {
    display: flex;
    align-items: center;
}

.checkbox-container input {
    margin-left: 10px;
    width: 15px;
    height: 15px;
}
.schedule {
    list-style-type: none;
    padding: 0;
    margin-top: -336px;
}
.schedule li {
    padding: 10px;
    margin: 10px;
    text-transform:uppercase;
    font-weight: 100;
    
}