@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    display: flex;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
}

.sidebar {
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 1;
}
.sidebar .logo img{
    margin-top: -70px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: -60px;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    background-color: #222222;
    padding-left: 10px;
}

.dropdown-container{
    text-align: left;
    margin: 20px;
    margin-left: 21em;
    margin-top: 20px;
}

select {
    width: 160px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 15px;
    background-color: #fff;
}

.appointment-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.appointment-form h2 {
    margin-bottom: 10px;
}

.appointment-form label {
    display: block;
    margin-top: 10px;
}

.appointment-form input[type="text"],
.appointment-form input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.appointment-form input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.appointment-form input[type="submit"]:hover {
    background-color: #45a049;
}

.appointments-table-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    margin-top: 70px;
    margin-left: 20em;
    position: absolute;

}

.appointments-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 3px;
}


.appointments-table th, .appointments-table td {
    padding: 8px;
    text-align: left;
}
.appointments-table tr{
    background: #faf9f9;
    border-bottom: 2px  solid #000000;
    border-radius: 2px;
  }

.appointments-table .right{
    border-radius: 0px 50px 0px 0px;
  }
.appointments-table .left{
    border-radius: 50px 0px 0px 0px;
  }

.appointments-table th {
    background-color: #222222;            
    text-align: left;
    color: white;
    padding: 1em;

}

.status {
    background-color: #ffeb3b;
    text-align: center;
    font-weight: bold;
}
