@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 999;
}

i.bx-menu{
    display: none;
}

#close-sidebar {
    font-size: 30px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 15px; 
    right: 15px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

#close-sidebar:hover{
    color: #f73201;   
    transform: rotate(90deg);
}
.sidebar .logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 17%;
}
.sidebar .logo img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 13%;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    background-color: #222222;
    padding-left: 10px;
}

/* back button  */
.back-button i{
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.back-button i:hover{
    color: #f73201;   
}


/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .sidebar {
        display: none; 
    }
    .sidebar .logo img {
        margin-top: 15%;
        max-height: 100px;
        width: auto; 
    }
    .sidebar nav ul {
        margin-top: 10%; 
    }

    i.bx-menu {
        display: block; 
        cursor: pointer;
        order: 2; 
        font-size: 45px; 
        color: #333; 
        cursor: pointer; 
        display: block; 
        position: absolute;
        left: 10%;
        top: 5%;
    }
    /* Show the sidebar when the 'open' class is added */
    .sidebar.open {
        display: block; 
        transition: transform 0.3s ease; 
    }
}


@media (max-width: 480px){
    i.bx-menu{
        font-size: 35px;
    }
}