@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #F5F5F5;
    color: #000000;
}

.sidebar {
    display: block;
    position: fixed;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: #222222;
    color: white;
    padding-top: 20px;
    z-index: 999;
}

i.bx-menu{
    display: none;
}

#close-sidebar {
    font-size: 30px;
    color: white;
    text-decoration: none;
    position: absolute;
    top: 15px; 
    right: 15px; 
    cursor: pointer; 
    transition: transform 0.3s ease; 
}

#close-sidebar:hover{
    color: #f73201;   
    transform: rotate(90deg);
}
.sidebar .logo{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 17%;
}
.sidebar .logo img {
    margin-top: 5%;
    max-width: 100%;
    max-height: 110px;
    object-fit: contain;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin-top: 13%;
}

.sidebar nav ul li {
    padding: 10px 0;
    margin: 10px;
    text-align: left;
}

.sidebar nav ul li a {
    color: white;
    text-decoration: none;
}

.sidebar nav ul li a:hover {
    background-color: #222222;
    padding-left: 10px;
}

/* back button  */
.back-button i{
    color: white;
    text-decoration: none;
    margin-left: 1em;
}
.back-button i:hover{
    color: #f73201;   
}

/* News Style */
.news-content {
    padding: 20px;
    margin: 20px;
    margin-left: 300px;
    margin-top: 30px;
    text-align: left;
    position: relative;
}

.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-header h1 {
    margin: 0;
    font-size: 2rem;

}

/* Add button */
.news-button {
    padding: 10px 20px;
    background-color:#E43A19;
    color: white;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 1.1rem;
}

.news-button:hover {
    background-color:#222222;
}

/* Default style for images */
.news {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Three equal columns */
    gap: 20px;
}

.news-item {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
}

.news-item img {
    width: 100%; /* Ensures it fills the container */
    max-width: 300px; /* Fixed width for all images */
    height: 150px; /* Fixed height */
    object-fit: cover; /* Keeps the aspect ratio consistent */
    margin-bottom: 10px;
}

.news img:hover {
    transform: translateY(-5px);
}

.news-item h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #131313;
}

.news-item h4 {
    font-size: 1rem;
    font-weight: 600;
    margin: 5px 0;
    color: #2b2b2b;
}

.news-item p {
    font-size: 0.8rem;
    color: #666;
    line-height: 1.5;
    margin-bottom: 15px;
}

.delete-button, .edit-button {
    display: inline-block; /* Keeps buttons inline */
    width: 100px; /* Ensures uniform width */
    text-align: center;
    margin: 5px auto; /* Adds spacing and centers buttons */
}

.news-item .delete-button, .news-item .edit-button {
    display: block; /* Stacks buttons vertically */
    margin-left: auto; /* Centers the button block */
    margin-right: auto;
}

.delete-button, .edit-button {
    background-color: #E43A19;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.delete-button:hover {
    background-color: #c82333;
}

.edit-button {
    background-color: #007bff;
}

.edit-button:hover {
    background-color: #0056b3;
}
/* Style for vertical images */
.news.vertical {
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
}

.news.vertical img {
    width: 100%; 
    max-width: 300px; 
}

/* news form is hidden by default */
#newsForm {
    display: none;
}

/* Form (add and edit form) Style */
.news-form-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-form {
    display: none; /* Hide both forms */
    position: absolute; 
    top: 20px;
    right: 20px; 
    z-index: 1000; 
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%; 
    margin: 0; 
}

.news-form h2 {
    margin-bottom: 20px;
    color: black;
}

.news-form label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.news-form input[type="file"],
.news-form input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.news-form button[type="submit"],
.news-form button[type="button"] {
    padding: 10px 20px;
    border: none;
    border-radius: 14px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 10px;
}

.news-form button[type="submit"] {
    background-color: #E43A19;
    font-weight: 500;
}

.news-form button[type="submit"]:hover {
    background-color: #ff6e51;
}

.news-form button[type="button"] {
    background-color: #e0e0e0;
    color: black;
    font-weight: 600;
}

.news-form button[type="button"]:hover {
    background-color: #222222;
}

/* Media Query */ 
@media (max-width: 768px) {
    .mobile-navbar {
        display: flex;
    }
    .sidebar {
        display: none; 
        right: 0; /* Aligns sidebar to the right */
        transform: translateX(100%); /* Initially hides the sidebar */
        transition: transform 0.3s ease;
    }

    .sidebar .logo img {
        margin-top: 15%;
        max-height: 100px;
        width: auto; 
    }
    .sidebar nav ul {
        margin-top: 10%; 
    }

    i.bx-menu {
        display: block; 
        cursor: pointer;
        font-size: 2.5rem; 
        color: #333; 
        position: absolute;
        right: 7%; /* Positioning to the right side */
        top: 1.25rem; /* Adjusts vertical positioning */
    }
    /* Show the sidebar when the 'open' class is added */
    .sidebar.open {
        display: block; 
        transform: translateX(0); /* Slide-in effect */
    }
    .mobile-logo img {
        max-height: 15vh;
        max-width: 15vh;
    }
    .news-content {
        margin-left: 50px;
        margin-top: 100px;
    }
    .news-header h1{
        font-size: 1.5rem;
    }
    .news-button{
        padding: 10px 15px;
        font-size: 1rem;
    }
    .news{
        grid-template-columns: repeat(2, 1fr);
    }
    .news img{
        min-width: 170px;
    }    
    .news.vertical img{
        max-width: 170px;
    }
}
@media (max-width: 480px){
    i.bx-menu{
        font-size: 2.18rem;
        right: 6%;
    }
    .mobile-logo img {
        max-height: 13vh;
        max-width: 13vh;
        margin-left: -0.5rem;
    }
    .news-content {
        margin-left: 30px;
    }
    .news-button{
        padding: 10px 15px;
        font-size: 0.9rem;
    }
    .news{
        grid-template-columns: repeat(1, 1fr);
    }
}