# Enable rewrite engine
RewriteEngine On

# Default page for the admin side
DirectoryIndex admin_log.php

# Restrict access to admin pages if needed
<RequireAll>
    Require all granted
</RequireAll>
